body {
<<<<<<< HEAD
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
=======
    margin: 0;
    padding: 0;
}
>>>>>>> 9fff1e72822db5370993404881ec85c9709ce96a
